@import url('https://fonts.googleapis.com/css2?family=Silkscreen&amp;display=swap');

$kglw-phase2-paleblue: #70969f;
$kglw-phase2-chartreuse: #8ac755;

body {
  margin: 0;
  background: #111;
  color: #ccd;
  font-family: sans-serif;
}

a {
  color: $kglw-phase2-chartreuse;
  &:visited {
    color: $kglw-phase2-paleblue;
  }
}

.layout-index {
  width: 100%;
  text-align: center;

  > p {
    font-size: 1.5em;
  }
}

h1 {
  margin-top: 0;
  padding: 0.5em;
  color: $kglw-phase2-paleblue;
  font: 2em Silkscreen;
}

.calendar {
  h2 { display: none; }
  a {
    padding: 5px;
  }
  > ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    > li {
      flex-basis: 3em;
      flex-grow: 1;
      border: 0.3px solid $kglw-phase2-paleblue;
      padding: 0;
    }
  }
  h3 {
    $side-padding: 0.5em;
    margin: 0;
    padding: 0.2em $side-padding;
    background: $kglw-phase2-paleblue;
    color: black;
    font-size: 0.7em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  li > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li a {
      display: inline-block;
      height: 2em;
      margin: 0 0.1em;
      padding: 0 0.1em;
      line-height: 2em;
      white-space: nowrap;
      &:hover:not(.today) {
        text-shadow: #{$kglw-phase2-paleblue}66 1px 2px 5px;
      }
      &.today {
        box-shadow: #{$kglw-phase2-paleblue}dd 1px 1px 7px 3px;
        border-radius: 0.9em;
      }
    }
  }
}
