.layout-monthday {
  max-width: 33em;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  a {
    color: #8877ee;
  }

  > main {
     width: 100%;
     margin: 1em auto;
     border-radius: 1em;
     color: #ddd;
     background: #222222ee;
     box-shadow: #110033aa 0.3em 0.6em 1em 0.5em;
  }

  main > h1 {
    margin: 0.75em;
    text-align: center;
  }

  .layout-monthday--birthday {
    display: block;
    font-size: 1.2em;
    text-align: center;
  }

  main > ul {
    margin: 2em 1em;

    li {
      margin: 0.5em 0.5em 1em 0.5em;
      padding-left: 1em;
      list-style: outside;
      list-style-type: '🤘';
      line-height: 1.5em;

      &.release {
        list-style-type: '💿';
      }
    }
  }

  .layout-monthday--empty {
    margin: 3em 1em;
    color: #666;
    text-align: center;
  }

  .layout-monthday--entry--note {
    cursor: pointer;
  }

  > nav {
    width: 100%;
    order: -1;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    a {
      padding: 1em 2em;
    }
  }

}
