footer.sitefooter {
  margin: 3rem 1rem;
  text-align: center;

  nav {
    margin: 3rem 0;
  }

  p {
    margin: 2rem 0;
  }
}

.sitefooter__source {
  text-decoration: none;
  color: khaki !important;

  svg {
    margin-right: 0.2rem;
    height: 2rem;
    vertical-align: middle;

    path {
      fill: khaki !important;
    }
  }
}
