.layout-index {
  width: 100%;

  text-align: center;
}

.calendar {
  h2 { display: none; }
  > ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    > li {
      flex-basis: 4em;
      flex-grow: 0;
      border: 1px solid gray;
      padding: 0;
      min-width: 3em;
    }
  }
  h3 {
    max-width: 100%;
    background: gray;
    color: white;
    margin:0;
    font-size: 1em;
    text-align: center;
  }
  li > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li a {
      display: inline-block;
      height: 2em;
      line-height: 2em;
      &.today {
        box-shadow: #004488dd 1px 1px 7px 3px;
        border-radius: 0.9em;
        width: 85%;
      }
    }
  }
}
