.layout-index {
  width: 100%;

  text-align: center;
}

.calendar {
  h2 { display: none; }
  > ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    > li {
      flex-basis: 3em;
      flex-grow: 1;
      border: 1px solid #777;
      padding: 0;
      min-width: 3em;
    }
  }
  h3 {
    $side-padding: 0.5em;
    width: calc(100% - (2 * #{$side-padding}));
    margin: 0;
    padding: 0.2em $side-padding;
    background: #777;
    color: #eee;
    font-size: 1em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  li > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li a {
      display: inline-block;
      height: 2em;
      width: 90%;
      padding: 0 0.1em;
      line-height: 2em;
      white-space: nowrap;
      &:hover:not(.today) {
        text-shadow: #00448866 1px 2px 5px;
      }
      &.today {
        box-shadow: #004488dd 1px 1px 7px 3px;
        border-radius: 0.9em;
      }
    }
  }
}
